<div class="jumbotron">
  <h1 class="display-4">Bluetooth Controlled Robo Car</h1>
  <p>This is a Remote Controlled Robo Car </p>
</div>
<div class="container">
  <div>
    <p>Powered By 12V Battery Runs for 2 hrs of continuous playing</p>
  </div>
  <div class="text-center m-4">
    <h3>Controlled By an Android App</h3>
    <img class="w-50" src="assets/controller.jpg" alt="">
  </div>
  <div class="row  m-4">
    <div class="col-6 col-lg-6 col-md-6 col-sm-12">
      <img class="w-100" src="assets/arduino.jpg" alt="">
    </div>
    <div class="col-6 col-lg-6 col-md-6 col-sm-12">
      <img class="w-100" src="assets/ardunio2.jpg" alt="">
    </div>
  </div>
  <div class="row m-4">
    <div class="col-6 col-lg-6 col-md-6 col-sm-12">
      <img class="w-100" src="assets/arduino3.jpg" alt="">
    </div>
    <div class="col-6 col-lg-6 col-md-6 col-sm-12">
      <img class="w-100" src="assets/arduino4.jpg" alt="">
    </div>
  </div>
  <div class="row justify-content-center m-5">
    <iframe height="400px" width="600px" src="https://www.youtube.com/embed/u6nTNSZgJ80" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<mat-toolbar></mat-toolbar>
