<div class="container">
  <mat-card class="m-4" *ngFor="let card of myApps">
    <mat-card-header>
      <img mat-card-avatar
           src="favicon.ico">
      <mat-card-title>{{card.name}}</mat-card-title>
      <mat-card-subtitle>{{card.description}}</mat-card-subtitle>
    </mat-card-header>
    <!--      <img mat-card-image src="{{card.ur}}">-->
    <mat-card-content>
      <p>
        {{card.about}}
      </p>
    </mat-card-content>
    <p>{{card.likes | number}} likes</p>
    <mat-card-actions>
      <button class="m-1" matTooltip="Give a Like?" (click)="plusLike(card)" mat-button>
        <i class="fa fa-thumbs-up fa-2x"></i>
      </button>
      <button class="m-1" matTooltip="Share in Whatsapp" mat-button><i
        class="fa fa-whatsapp fa-2x "></i>
      </button>
      <button class="m-1" matTooltip="Preview WebApp" (click)="href(card.visit)" mat-button color="blue"><i
        class="fa fa-link fa-2x "></i></button>
      <button class="m-1" (click)="href(card.git)" matTooltip="Visit Github Repo" mat-button>
        <i class="fa fa-github fa-2x " aria-hidden="true"></i>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
