<mat-toolbar class="app-toolbar w-100 overflow-hidden" color="primary">
  <span><img style="width: 40px;height: 40px" mat-list-icon src="assets/brand.svg" alt=""></span>
  <button [routerLink]="['/profile']" mat-button>My PortFolio</button>
  <button [matMenuTriggerFor]="projects" mat-button>Projects</button>
  <mat-menu #projects="matMenu">
    <button mat-menu-item [routerLink]="['/web']">Web Applications</button>
    <button mat-menu-item [routerLink]="['/android']">Android Applications</button>
  </mat-menu>

  <span class="flex-fill"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink="/admin" *ngIf="!auth.isLoggedIn" mat-menu-item>
      <span routerLink="/login">Login As Keshav</span>
    </button>
    <button [routerLink]="['admin']" *ngIf="auth.isLoggedIn" mat-menu-item>
      <span>Manage Website</span>
    </button>
    <button (click)="auth.signout()" mat-menu-item *ngIf="auth.isLoggedIn">
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
