<div class="jumbotron">
  <h1>Line Follower Robot</h1>
  <p>A Robot that follows the visual black line in the floor</p>
</div>
<div class="container">
  <h2>Block Diagram of the Project</h2>
  <div class="text-center">
    <img class="w-100" src="assets/blockdiag.jpg" alt="">
  </div>
  <h4>Components Required</h4>
  <ul class="m-3">
    <li>Arduino UNO (or Arduino Nano)</li>
    <li>L293D Motor Driver IC</li>
    <li>Geared Motors x 2</li>
    <li>Robot Chassis</li>
    <li>IR Sensor Module x 2</li>
    <li>Black Tape (Electrical Insulation Tape)</li>
    <li>Connecting Wires</li>
    <li>Power supply</li>
    <li>Battery Connector</li>
    <li>Battery Holder</li>
  </ul>
  <h2>Working of Arduino Line Follower Robot</h2>
  <p>
    In this project, we have designed an Arduino based Line Follower Robot. The working of the project is pretty simple:
    detect the black line on the surface and move along that line. The detailed working is explained here.

    As mentioned in the block diagram, we need sensors to detect the line. For line detection logic, we used two IR
    Sensors, which consists of IR LED and Photodiode. They are placed in a reflective way i.e. side – by – side so that
    whenever they come in to proximity of a reflective surface, the light emitted by IR LED will be detected by Photo
    diode.

    The following image shows the working of a typical IR Sensor (IR LED – Photodiode pair) in front of a light coloured
    surface and a black surface. As the reflectance of the light coloured surface is high, the infrared light emitted by
    IR LED will be maximum reflected and will be detected by the Photodiode.</p>
  <div class="text-center">
    <img class="w-50" src="assets/irsensor.jpg" alt="">
  </div>
  <div class="row justify-content-center m-4">
    <iframe width="600px" height="400px" src="https://www.youtube.com/embed/GkQ1Ul6oZdg" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<mat-toolbar></mat-toolbar>




